@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f7fafd;
  color: #090c15;
}

.container {
  width: 92%;
  max-width: 1170px;
  margin: 0 auto;
}

.testimonials h2 {
  color: #f7fafd;
}

.testimonials p {
  color: #b8bec2;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -0px !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  z-index: 999;
  border-bottom: 1px solid #ccc;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.box-border {
  max-width: 240px;
}
